
<div class=space></div>


<div class=container>

<h1>Enter a Movie title here to Search!!!<h1>
<form method="get" action="/search" >
<!-- goes to the search URL and gets the movie -->
<input type='text' name='movie' autofocus>
<input type='submit'>
</form>

</div>